<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-[cursive]">
    <header class="bg-blue-300 text-center text-3xl py-2 text-white" >
        <h1>Bienvenue dans ce jeu du Pendu !  </h1>
    </header>

    <main  class="py-10 text-6xl my-16">

        <p class="text-center text-4xl font-bold p-6">Devine le mot caché en proposant des lettres !</p>

        <div class="flex justify-center">
            <img class="h-[400px]" src="/static/pendu{{etat_du_jeu.vies}}.png">
        </div>

        <p class="text-center text-8xl font-bold p-6">{{etat_du_jeu.mot_a_afficher}}</p>


        {% if etat_du_jeu.victoire %}
        <p class="text-center text-8xl font-bold p-6">BRAVO !</p>
        <p class="text-center text-4xl font-bold p-6">{{etat_du_jeu.message}}</p>

        <div class="flex justify-center m-16">
            <button class="bg-blue-300 hover:bg-blue-400 p-6 rounded-lg" onclick="window.location.href='/';">Rejouer</button>
        </div>

        {% elif etat_du_jeu.defaite %}
        <p class="text-center text-8xl font-bold p-6">DEFAITE !</p>
        <p class="text-center text-4xl font-bold p-6">{{etat_du_jeu.message}}</p>

        <div class="flex justify-center m-16">
            <button class="bg-blue-300 hover:bg-blue-400 p-6 rounded-lg" onclick="window.location.href='/';">Rejouer</button>
        </div>

        {% else %}

        <p class="text-center text-4xl font-bold p-6">{{etat_du_jeu.message}}</p>

        <form method="POST" action="deviner" autocomplete="off" >
            <div class="flex justify-center m-10 ">
                <input name="entree" type="text" class="border-2 border-black ">
            </div>

            <div class="flex justify-center m-16">
                <button class="bg-blue-300 hover:bg-blue-400 p-6 rounded-lg" type="submit">Valider</button>
            </div>

        </form>
        {% endif %}

    </main>


    <footer class="fixed bottom-0 w-full bg-blue-300 text-center font-bold py-2 text-white" >
        <p>Copyright © MagicMakers</p>
    </footer>

</body>
</html>